:root{
    --mainColor: #1f2937;
    --hero-main-text:48px extra-bold #F9FAF8;
    --hero-secondary-text:18px #E5E7EB;
    --header-logo-text: 24px #F9FAF8;
    --button-color:#3882F6;
    --info-header-text:36px extra-bold #1F2937;
    --quote-background-color:#E5E7EB;
    --quote-text:36px light italic #1F2937;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    zoom: 0.95;
}
/*--------------------------------------*/
/*This is all for controlling the navbar*/
/*--------------------------------------*/
li,a,button{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size:24px;
    color:#F9FAF8;
    text-decoration: none;
}

header{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:30px 5%;
    background-color: var(--mainColor);
}

.logo{
    cursor:pointer;
    color:white;
    margin-right:auto;
    font-size:35px;
    object-fit:cover;
    transition:all 0.3s ease 0s;
    margin-left:3%;
}

.logo:hover{
    color:#3882F6;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display:inline-block;
    padding:0px 10px;

}

.nav__links li a{
    transition:all 0.3s ease 0s;
}

.nav__links li a:hover{
    color:#3882F6;
}
.sign_up1{
    padding:9px 25px;
    background-color:rgba(0,136,169,1);
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    margin-left:20px;
}

.sign_up1:hover{
    background-color:rgba(0,136,169,0.7);
}

/*--------------------------------------*/
/*Controlling first main section*/
/*--------------------------------------*/
.hero{
    background-color: var(--mainColor);
    height:50vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:100px 10%;
    flex:1;
}

.hero_info{
    padding-right:100px;
}

.hero_info h1{
    --hero-main-text:48px extra-bold #F9FAF8;
    padding-top:-50px;
    padding-bottom:10px;
    font-size:48px;
    font-weight:800;
    color:#F9FAF8
}
.hero_info h2{
    font-size:18px;
    color:#E5E7EB;
    padding-top:10px;
}

.hero_info button{
    margin-left:0px;
    background-color: #3882F6;
    border:none;
    border-radius:15px;
    margin-top:20px;
    padding:5px 35px;
    cursor:pointer;

}
.hero img{
    width:40%;
    border-radius: 5px;

}


/*--------------------------------------*/
/*Middle section*/
/*--------------------------------------*/
.randInfo{
    background-color: white;

}
.randInfo h3{
    font-size:30px;
    text-align:center;
}
.picWrap{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    padding:100px 0;
}
.picWrap div{
    text-align: center;
    padding: 0 30px;
}
.picWrap p{
    width:300px;
    height:100px;
}
.placeImg{
    width:300px;
    height:300px;
    border-radius: 10px;
}

/*--------------------------------------*/
/*Quote section*/
/*--------------------------------------*/
.quote_container{
    height:30vh;
    background-color:#E5E7EB;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;

}
.quote_text{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.quote{
    font-size:36px;
    font-weight: lighter;
    font-style:italic;
}
.author{
    font-weight:bold;
    text-align: end;

}


/*--------------------------------------*/
/*Signup container*/
/*--------------------------------------*/
.signup_container{
    height:40vh;
    display:flex;
    flex-direction:column;
}

.signup_container2{
    width:80%;
    height:50%;
    margin:auto;
    background-color:#3882F6;
    color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signup_container3{
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.signup_container3 h4{
    margin-bottom:10px;
    font-size:24px;
}

.sign_up3{
    margin:auto 0;
    cursor:pointer;
    padding:0 20px;
    border-radius: 10px;
    background-color: #3882F6;
    border:2px solid white;
}

.sign_up3:hover{
    background-color:white;
    color:#3882F6;
    transition:all 0.5s ease 0s;
}



/*Footer for ending*/

footer{
    background-color: #1F2937;
    padding:20px 5%;
    text-align:center;
    color:white;
    font-size: 0.8rem;
    font-family:Helvetica sans-serif;
}
